<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/sec.css}" rel="stylesheet" type="text/css">
    <title>项目主页</title>
</head>

<body>

    <div>
        <h1>项目主页</h1>
        <p>CTJ实习(桂)</p>
        <p>2024-E</p>
        <table>
            <tr>
                <th>基础功能</th>
                <th>excel相关</th>
                <th>员工管理</th>
                <th>shiro安全</th>
            </tr>
            <tr>
                <td><a href="/test/helloworld">helloworld</a></td>
                <td><a href="/test/fileupload">基础excel导入</a></td>
                <td><a href="/employees">员工名单展示</a></td>
                <td><a href="/login ">登录</a></td>
            </tr>
            <tr>
                <td><a href="/test/fileupload">文件上传</a></td>
                <td><a href="/test/excelimportTest ">进阶excel导入</a></td>
                <td><a href="/showNewEmployeeForm">新增员工(注册)</a></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="/test/excelimportTestCN">高级excel导入</a></td>
                <td><a href="/emp_excelimport">员工excel导入<br>(已无法正常使用)</a></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="/export">excel导出</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="/exportLIMIT">进阶excel导出</a></td>
                <td></td>
                <td></td>
            </tr>
        </table><code>code-by-600 </code>
    </div>
</body>

</html>